<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559585844698-lbol0nt4krrga9g380h2cb5qrhmsdas5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559585844698-lbol0nt4krrga9g380h2cb5qrhmsdas5</string>
	<key>API_KEY</key>
	<string>AIzaSyCOyhaoDaVx7Y9E6n9UyhFpTVKK4GcJUUw</string>
	<key>GCM_SENDER_ID</key>
	<string>559585844698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HakanAdanur.InstaFirebase</string>
	<key>PROJECT_ID</key>
	<string>snapchatfirebase-4f1cc</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatfirebase-4f1cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559585844698:ios:98d26b2e96a4e87c6c74e3</string>
</dict>
</plist>